<style>
rect.box {
    fill:none; 
    stroke:royalblue;
    stroke-width:0; 
    shape-rendering: crispEdges;
}
g.bubbles circle {
    fill:rgba(255,0,64,0.5); 
    stroke:rgb(255,0,64);
    stroke-width:1;
}
g.bubbles text {
    fill:royalblue;
    font-family:sans-serif;
    text-anchor:middle;
    alignment-baseline:middle;
    opacity:0;
    pointer-events:all;
    transition:1s;
}
g.bubbles text:hover {
    opacity:1;
}

div.tooltip { 
    position: absolute;     
    text-align: left;     
/*    width: 60px;          
    height: 28px;   */      
    padding: 2px;       
    font: 10px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 2px;
}

.service {
      font: 14px sans-serif; 
      text-transform: uppercase; 
      font-weight: bold;
}

.change {
      font: 10px sans-serif; 
      /*text-transform: uppercase; */
      font-weight: bold;
}

.tooltip-header {
      font: 10px sans-serif; 
      text-transform: uppercase; 
      font-weight: bold;
}

#graph{
  border: 1px solid #ccc;
}

</style>

<div>
  <svg id="graph">
</svg>
</div >
<script src="/assets/js/d3.v3.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script>
 

//parameters//
var sortOrder = -1; 
   //>0 for ascending, <0 for descending, 0 for no sort 

// Define the div for the tooltip
var div = d3.select("body").append("div") 
    .attr("class", "tooltip")       
    .style("opacity", 0);


//Reading data, all operations to be performed inside
d3.csv("/assets/data/budget.csv", function(csv_data){
  
  // create empty array to hold graph data
  var data=[];
  
  // push data from csv into an array
  for (var k = 1, len = csv_data.length; k < len; k++) {
    pct_of_total= +csv_data[k].pct_of_total;
    pct_change= +csv_data[k].pct_change;
    ty= +csv_data[k].ty;
    id= csv_data[k].id;
    ly= +csv_data[k].ly;
    data.push({id:id, size:pct_of_total, pct_change:pct_change, ty:ty, ly:ly});
  }; 

  // Function that formats money
  var MoneyFormat = function (labelValue) {
    // Nine Zeroes for Billions
    return Math.abs(Number(labelValue)) >= 1.0e+9

         ? (Math.abs(Number(labelValue)) / 1.0e+9).toFixed(1) + "B"
         // Six Zeroes for Millions 
         : Math.abs(Number(labelValue)) >= 1.0e+6

         ? (Math.abs(Number(labelValue)) / 1.0e+6).toFixed(1) + "M"
         // Three Zeroes for Thousands
         : Math.abs(Number(labelValue)) >= 1.0e+3

         ? (Math.abs(Number(labelValue)) / 1.0e+3).toFixed(1) + "K"

         : Math.abs(Number(labelValue));
  };
  // Function to format percentage values
  var changeFormat = function (labelValue) { return (Number(labelValue) * 100) > 0 ? "+"+(Number(labelValue) * 100).toFixed(2) + "%" : (Number(labelValue) * 100).toFixed(2) + "%"
  };  

  var sizeFormat = function (labelValue) { return (Number(labelValue) * 100).toFixed(2) + "%" ;
  };  

  // calculate necessary metrics    
  var dataMax = d3.max(data, function(d){return d.size;});    
  var changeMin = d3.min(data, function(d){return d.pct_change;});     
  var changeMax = d3.max(data, function(d){return d.pct_change;});     
  var totalSize = d3.sum(data, function(d){return d.size;});

  console.log(JSON.stringify(data));
  // Calculate total budget

sum = 0;
for (var j = 0, len = data.length; j < len; j++) {
    console.log(j+":"+data[j]ty+":"+sum);
    if(data[j].ty != null){  
    sum = sum + parseFloat(data[j].ty);
    }
};
  console.log("total-"+sum);
 
  // Creating a color scale to color individual chart elements
  var colorScale = d3.scale.linear()
                  .domain([changeMin,-0.00000000000001,0.00000000000001,1.5,5,25])
                  .range(["#ff0303","#ff7a7a","#c2ff99","#0dbf00","#007500", "#055400"]);
  
  //Set up SVG and rectangle//   
  var svg = d3.select("#graph");
  var digits = /(\d*)/;
  var margin = 50;
  var margintop = 100 //space in pixels from edges of SVG
  var padding = 4; //space in pixels between circles

  graphPosition=$("#graph").parent().position();
  leftPosition=graphPosition.left;
  topPosition=graphPosition.top;
  // console.log("Left:"+k.left);
  // console.log("K:"+JSON.stringify(k));

  // calculate width of parent div, this will be use to calculate chartDimensions
  var initialWidth = $("#graph").parent().width();
  var initialHeight = initialWidth;

  // chart height calculation
  var width = (initialWidth) -(2*margin);
  var height = (initialHeight) -(2*margin);

  // set width and height of chart
  chart = d3.select('#graph')
        .attr("width", initialWidth)
        .attr("height", initialHeight);
  
  // responsiveness - needs to be worked upon      
  d3.select(window)
    .on("resize", function() {
      var targetWidth = chart.node().getBoundingClientRect().width;
      // chart.attr("width", targetWidth);
      // chart.attr("height", targetWidth / aspect);
    });

  // calculating the usablearea where chart can be placed
  var usableArea = Math.PI*Math.pow( Math.min(width,height)/2 ,2)*0.667;
  // calculate scaling factor and creating necessary scales 
  var scaleFactor = Math.sqrt(usableArea)/Math.sqrt(totalSize)/Math.PI;
  var rScale = d3.scale.sqrt()  
          //make radius proportional to square root of data r
          .domain([0, dataMax]) //data range
          .range([0,  Math.sqrt(dataMax)*scaleFactor]);
  //The rScale range will be adjusted as necessary
  //during packing.
  //The initial value is based on scaling such that the total
  //area of the circles is 2/3 the area of the largest circle
  //you can draw within the box.
    
  /*
      console.log("Dimensions: ", [height, width]);
      console.log("area", width*height);
      console.log("Usable area: ", usableArea);
      console.log("TotalSize: ", totalSize);
      console.log("Initial Scale: ", scaleFactor);
      console.log("RScale: ",rScale.domain(), rScale.range());
  console.log("r(1)", rScale(1) );
  //  */  

  // Start drawing  
  var box = svg.append("rect")
              .attr({ "height": height, "width":width,
                     "x":margin, "y":margin,
                     "class":"box"
              });

  var bubbleGroup = svg.append("g")
          .attr("transform", 
                "translate(" + [margin,margin] + ")");
    
   //__Initialize layout objects__//
  d3.layout.pack()
      .sort((
          sortOrder?
              ( (sortOrder<0)? 
                  function(a,b){return b.size - a.size;} : //descending
                  function(a,b){return a.size - b.size;} ) : //ascending
              function(a,b){return 0;} //no sort
          ))
      .size([width/scaleFactor, height/scaleFactor])
      .value(function(d) { return d.size; })
      .nodes({children:data});
    
  //Use the force layout to optimize:
  var force = d3.layout.force()
      .nodes(data)
      .size([width/scaleFactor, height/scaleFactor])
      .gravity(.1)
      .charge(0) //don't repel
      .on("tick", updateBubbles);
      
    
  //Create circles!//
  var bubbles = bubbleGroup.selectAll("circle")
    .data(data)          
    .enter()
        .append("circle")
        .style("fill",function(d) { return colorScale(d.pct_change); })
        .style("stroke", "black")
        .style("opacity",0.7)
        //adding toottips
         .on("mouseover", function(d) { 
            d3.select(this).style("stroke", "red");
            div.transition()    
                .duration(200)    
                .style("opacity", .9);    
            div .html("<span class='service'>"+ "Overall Budget "+MoneyFormat(totalBudget)+"<br/> <br/>"+"<span class='service'>"+ d.id + " <br/> <hr/>" 
                    +MoneyFormat(d.ty) +"("+sizeFormat(d.size)+")"+"</span><br/> <span class='change'>"
                    + changeFormat(d.pct_change) +" as compared to last year " 
                    +"<br/> Last year's allocation: " + MoneyFormat(d.ly)+"</span>")   
                .style("left", leftPosition + "px")   
                .style("top", topPosition+ "px");  
            })          
         .on("mouseout", function(d) {   
            div.transition()    
                .duration(200) 
                .style("opacity", 0.7); 
            d3.select(this).style("stroke", "black"); 
            div .html("<span class='service'>"+ "Overall Budget : YYYB <br/><br/></span> <span class='change'> Hover on any circle to know more. <br/></span>")   
                .style("left", leftPosition + "px")   
                .style("top", topPosition + "px")   
        });
  
     
  // Create a function for this tick round,
  // with a new quadtree to detect collisions 
  // between a given data element and all
  // others in the layout, or the walls of the box.
      
      
  //keep track of max and min positions from the quadtree
  var bubbleExtent;
  function collide(alpha) {
    var quadtree = d3.geom.quadtree(data);
    var maxRadius = Math.sqrt(dataMax);
    var scaledPadding = padding/scaleFactor;
    var boxWidth = width/scaleFactor;
    var boxHeight = height/scaleFactor;
      
      //re-set max/min values to min=+infinity, max=-infinity:
    bubbleExtent = [[Infinity, Infinity],[-Infinity, -Infinity]];
      
    return function(d) {
        //check if it is pushing out of box:
      var r = Math.sqrt(d.size) + scaledPadding,
          nx1 = d.x - r,
          nx2 = d.x + r,
          ny1 = d.y - r,
          ny2 = d.y + r;
        
        if (nx1 < 0) {
             d.x = r;
        }
        if (nx2 > boxWidth) {
             d.x = boxWidth - r;
        }
        if (ny1 < 0) {
             d.y = r;
        }
        if (ny2 > boxHeight) {
             d.y = boxHeight - r;
        }
        
        
      //check for collisions
      r = r + maxRadius, 
          //radius to center of any possible conflicting nodes
          nx1 = d.x - r,
          nx2 = d.x + r,
          ny1 = d.y - r,
          ny2 = d.y + r;
        
      quadtree.visit(function(quad, x1, y1, x2, y2) {
        if (quad.point && (quad.point !== d)) {
          var x = d.x - quad.point.x,
              y = d.y - quad.point.y,
              l = Math.sqrt(x * x + y * y),
              r = Math.sqrt(d.size) + Math.sqrt(quad.point.size)
                      + scaledPadding;
          if (l < r) {
            l = (l - r) / l * alpha;
            d.x -= x *= l;
            d.y -= y *= l;
            quad.point.x += x;
            quad.point.y += y;
          }
        }
        return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
      });
      //update max and min
      r = r-maxRadius; //return to radius for just this node
      bubbleExtent[0][0] = Math.min(bubbleExtent[0][0], 
                                    d.x - r);
      bubbleExtent[0][1] = Math.min(bubbleExtent[0][1], 
                                    d.y - r);
      bubbleExtent[1][0] = Math.max(bubbleExtent[1][0], 
                                    d.x + r);
      bubbleExtent[1][1] = Math.max(bubbleExtent[1][1], 
                                    d.y + r);
        
    };
  };  

  function updateBubbles() {
      
      bubbles.each( collide(.2) ); //check for collisions   
      
      //update the scale to squeeze in the box 
      //to match the current extent of the bubbles
      var bubbleWidth = bubbleExtent[1][0] - bubbleExtent[0][0];
      var bubbleHeight = bubbleExtent[1][1] - bubbleExtent[0][1];
      
      scaleFactor = (height/bubbleHeight +
                             width/bubbleWidth)/2; //average
      /*
      console.log("Box dimensions:", [height, width]);
      console.log("Bubble dimensions:", [bubbleHeight, bubbleWidth]);
      console.log("ScaledBubble:", [scaleFactor*bubbleHeight,
                                   scaleFactor*bubbleWidth]);
      //*/
      
      rScale
          .range([0,  Math.sqrt(dataMax)*scaleFactor]);
      
      //shift the bubble cluster to the top left of the box
      bubbles
          .each( function(d){
              d.x -= bubbleExtent[0][0];
              d.y -= bubbleExtent[0][1];
          });
         
      //update positions and size according to current scale:
      bubbles
          .attr("r", function(d){return rScale(d.size);} )
          .attr("cx", function(d){return scaleFactor*d.x;})
          .attr("cy", function(d){return scaleFactor*d.y;})
  };

  force.start();

});

</script>